body {
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 48px;
    background-color: bisque;
}

.links {
    display: flex;
    gap: 20px;
    align-items: center;
}

li {
    list-style: none;
}

.header img {
    border-radius: 20%;
}

.hero-section img {
    width: 300px;
    height: auto;
}