@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 22px 48px;
    background-color: rgb(214, 29, 29);
    color: white;
}

.links {
    display: flex;
    gap: 20px;
    align-items: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.header img {
    border-radius: 20%;
}

.hero-section img {
    width: 450px;
    height: auto;
    border-radius: 5%;
}

.hero-section {
    display: flex;
    justify-content: center;
    padding: 60px 180px;
    background-color: rgb(214, 29, 29);
    color: white;
    gap: 50px;

}

.hero-content {
    flex:1;
    justify-content: center;
    align-items: center;
}

.hero-image {
    flex:1;
}

.sign-up {
    background-color: white;
    color: rgb(214, 29, 29);
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.features {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 32px 48px;
    color:rgb(214, 29, 29);
}

.title {
   text-align: center;
   margin: 24px;
   color:rgba(207, 16, 16, 0.952)
}

.info img {
    width: 200px;
    height: auto;
    border-radius: 5%;
}

.info {
    text-align: center;
    max-width: 200px;
}

.text {
    margin-top: 24px;
    font-size: 16px;
}

.testimonial {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px;
    margin: 48px 0px;
}

.quote {
    max-width: 600px;
    font-style: italic;
    color: rgb(107, 33, 33);
    font-size: 26px;
    font-weight: 300;
}

.author {
    text-align: right;
    color:rgb(107, 33, 33);
    margin-top: 10px;
    font-size: 20px;
}

.join-now {
    background-color: rgb(214, 29, 29);
    color: white;
    padding: 16px 32px;
    border-radius: 5px;
    width: 700px;
    margin: 48px auto;
    display: flex;
}

.call-1 {
    font-size: 24px;
    font-weight: 300;
}

.join-button {
    background-color: white;
    color: rgb(214, 29, 29);
    border: none;
    padding: 8px 14px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    margin-left: auto;
}


footer {
    background-color: rgb(214, 29, 29);
    color: white;
    text-align: center;
    padding: 24px;
    margin-top: 48px;
}